{% extends "layout/base.html" %}

{% block page_content %}
   <a href="{{ url_for('course.create') }}" class="button blue">Add new course</a>

   <form action="" method="get" class="search-form">
      <input type="text" name="q" placeholder="Filter" value="{{ search or ''}}">
      <input type="submit" value="Search">
   </form>

   <table>
      <tr>
         <th>Name</th>
         <th>Department</th>
         <th>Course Number</th>
         <th>Credit Hours</th>
         <th></th>
      </tr>
      {% for c in courses %}
         <tr>
            <td>{{ c.name }}</td>
            <td>
                  <a href="{{ c.department.absolute_url() }}">
                     {{ c.department.name }}
                  </a>
            </td>
            <td>{{ c.department.code }}{{ c.number }}</td>
            <td>{{ c.credit_hours }}</td>
            <td>
               <a href="{{ c.absolute_url() }}">View</a>
               <a href="{{ c.absolute_url() }}/edit">Edit</a>
               <a href="{{ c.absolute_url() }}/delete" onclick="return confirm('Are you sure you want to delete {{ c.name }}? This is irreversible.')">Delete</button>
            </td>
         </tr>
      {% endfor %}
   </table>
{% endblock %}
