{% extends "layout/base.html" %}

{% block page_content %}
   <form action="" method="get" class="search-form">
      <input type="text" name="q" placeholder="Filter" value="{{ search or ''}}">
      <input type="submit" value="Search">
   </form>

   <form action="" method="post">
      <table>
         <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Course Number</th>
            <th>Credit Hours</th>
            <th></th>
         </tr>
         {% for c in courses %}
            <tr>
               <td>{{ c.name }}</td>
               <td>{{ c.department.name }}</td>
               <td>{{ c.department.code }}{{ c.number }}</td>
               <td>{{ c.credit_hours }}</td>
               <td>
                  <input type="checkbox" name="selected_courses" value="{{ c.id }}">
               </td>
            </tr>
         {% endfor %}
      </table>

      <input type="submit" value="Enroll" class="button green">
   </form>
{% endblock %}
