{% macro menu_bar() %}
<nav class="menu">
   <div class="account-navigation">
      <ul>
         <li>
            <a href="" class="menu-item">
               Sign in
            </a>
         </li>
         <li>
            <a href="" class="menu-item">
               Create new account
            </a>
         </li>
         <li>
            <a href="" class="menu-item">
               Administrator login
            </a>
         </li>
      </ul>
   </div>
   <div class="main-navigation">
      <ul>
         <li>
            <a href="" class="logo">
               <img src="https://vtoolapp.com/images/logos/blck_wo.png" alt="Five Tool Logo"/>
            </a>
         </li>
         <li>
            <a href="" class="menu-item">
               Home
            </a>
         </li>
         <li>
            <a href="" class="menu-item">
               Events
            </a>
         </li>
         <li>
            <a href="" class="menu-item">
               Contact
            </a>
         </li>
      </ul>
   </div>
</nav>
{% endmacro %}
