{% macro menu_bar() %}
<nav class="menu">
   <div class="account-navigation">
      <ul>
         <li><a href="/" class="menu-item">Login</a></li>
         <li><a href="/" class="menu-item">Logout</a></li>
      </ul>
   </div>
   <div class="main-navigation">
      <ul>
         <li><a href="/" class="menu-item">Home</a></li>
         <li><a href="/about" class="menu-item">About</a></li>
         <li><a href="/students" class="menu-item">Students</a></li>
         <li><a href="/departments" class="menu-item">Departments</a></li>
         <li><a href="/courses" class="menu-item">Courses</a></li>
      </ul>
   </div>
</nav>
{% endmacro %}
