body {
   margin:0;
   padding:0;
   top:0;
   left:0;
   font-family:sans-serif;
   font-weight:200;
   font-size:14pt;
   line-height:22px;
}

* {
   margin:0;
   padding:0;
   box-sizing:border-box;
}

/* NAVIGATION */
/* layout/components/navigation */
.menu {
   width:100%;
}
.menu ul {
   list-style-type:none;
   margin:0;
   padding:0;
}
.menu ul li {
   display:inline-block;
   vertical-align:middle;
}
.menu .menu-item {
   display:block;
   padding:6px 12px;
   font-size:12pt;
   font-family:sans-serif;
   font-weight:200;
   text-transform:uppercase;
   text-decoration:none;
}

/* account/profile menu bar */
.menu .account-navigation {
   background:#383A3F;
   text-align:right;
}
.menu .account-navigation .menu-item {
   color:#e74c3c;
   font-size:10pt;
}
.menu .account-navigation .menu-item:hover {
   color:#c0392b;
}

/* main navigation menu bar */
.menu .main-navigation {
   background:#8e44ad;
}
.menu .main-navigation .logo img {
   height:54px;
   padding:0px 12px;
}
.menu .main-navigation .menu-item {
   color:#fff;
   font-weight:400;
   line-height:54px;
}
.menu .main-navigation .menu-item:hover {
   background:#3F4040;
}
/* /NAVIGATION */

/* PAGE CONTENT */
.page-content {
   padding:12px 24px;
}

/* text */
h1, h2, h3, h4, h5, h6 {
   font-weight:300;
   margin:16px 0px;
}
h1 {
   font-size:26pt;
}
h2 {
   font-size:20pt;
}
ul, ol {
   margin:6px 14px;
}
/* /text */

/* tables */
table {
   width:100%;
   border-collapse:collapse;
   border-bottom:1px solid #424242;
}
table tr {
   background:#ddd;
}
table tr:first-child {
   background:#424242;
   color:#fff;
}
table tr:nth-child(even) {
   background:#fff;
}
table td, th {
   padding:8px 12px;
   border:1px solid #424242;
   border-top:0;
   border-bottom:0;
}
table th {
   text-transform:uppercase;
   font-size:10pt;
   font-weight:200;
   text-align:left;
}

.gist table {
   width:auto;
   border-collapse:auto;
   border-bottom:auto;
}
.gist table tr {
   background:none;
}
.gist table tr:first-child {
   background:none;
}
.gist table tr:nth-child(even) {
   background:none;
}
.gist table td, th {
   padding:auto;
   border:none;
   border-top:none;
   border-bottom:none;
}
.gist table th {
   text-transform:none;
   font-size:auto;
   font-weight:auto;
   text-align:auto;
}
/* /tables */

/* forms */
form label {
   display:block;
   margin-top:18px;
   margin-bottom:6px;
}
form input, select {
   -webkit-appearence:none;
   display:block;
   margin:6px 0px;
   width:300px;
   max-width:100%;
   font-size:12pt;
   padding:4px;
   background:#fff;
   border:1px solid #999;
   border-radius:2px;
}

.form-error {
   list-style-type:none;
}
.form-error li {
   color:#e74c3c;
}

.search-form {
   margin:12px 0px;
}
.search-form input {
   display:inline-block;
}
.search-form input[type=submit] {
   width:auto;
}
/* /forms */

/* buttons */
.button {
   display:inline-block;
   clear:left;
   width:auto;
   padding:4px 8px;
   font-size:12pt;
   border-radius:4px;
   text-decoration:none;
   color:#fff;
}
.button.blue {
   background:#3498db;
   border:1px solid #2980b9;
}
.button.blue:hover {
   background:#2980b9;
}

.button.red {
   background:#e74c3c;
   border:1px solid #c0392b;
}
.button.red:hover {
   background:#c0392b;
}

.button.green {
   background:#2ecc71;
   border:1px solid #27ae60;
}
.button.green:hover {
   background:#27ae60;
}
/* /buttons */
/* /PAGE CONTENT */
