{% extends "layout/base.html" %}

{% block page_content %}
   <a href="./create">Add new department</a>

   <form action="" method="get">
      <input type="text" name="q" placeholder="Filter" value="{{ search or ''}}">
      <input type="submit" value="Search">
   </form>

   <table>
      <tr>
         <th>Department</th>
         <th>Code</th>
         <th></th>
      </tr>
      {% for d in departments %}
         <tr>
            <td>{{ d.name }}</td>
            <td>{{ d.code }}</td>
            <td>
               <a href="{{ d.absolute_url() }}">View</a>
               <a href="{{ d.absolute_url() }}/edit">Edit</a>
               <a href="{{ d.absolute_url() }}/delete" onclick="return confirm('Are you sure you want to delete {{ d.name }}? This is irreversible.')">Delete</a>
            </td>
         </tr>
      {% endfor %}
   </table>
{% endblock %}
